body{
    background: #ebeef2;
}
@media (max-width:975px){
    .header    {
    max-width: 800px;
    
    }
    }
    @media (max-width:800px){
        .header    {
        max-width: 700px;
        
        }
        }
        @media (max-width:700px){
            .header    {
            max-width: 600px;
            
            }
            }
            @media (max-width:893px){
                .text    {
                max-width: 600px;
                }
                }
.header{
    color: rgba(225, 225, 225, 0.75);
    width: 975px;
    height: 1000px;
    margin-left: 20%;
    
}
.img {
    border-radius: 50px;
    width: 360px;
    height: 360px;
    margin-left: 40%;
}
.text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
text-align: center;
color: #2E2E2E;
text-align: center;
width: 893px;
margin-left: 15%;
}
.nav {
    margin-top: 6%;
}
.button{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;
margin-left: 34%;
margin-top: 2%;
background: #5932EA;
border-radius: 21px;
width: 490px;
height: 111px;
color: #ebeef2;
cursor: pointer;
}